# Composer
vendor/
composer.lock

# Grunt
package-lock.json
node_modules/

# Build artifacts
build/

# Test coverage
tests/coverage/

# PHPUnit
.phpunit.result.cache
.phpunit.coverage.cache

# macOS
.DS_Store

# Atom/Serenata
.serenata

# VSCode
.vscode
